.BuildControls {
    width: 100%;
    background-color: purple;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px black;
    margin: auto;
    padding: 10px 0;
}